<nav data-spy="scroll" class="navbar navbar-expand-xl sticky-top">
    <a class="logo" href="/dashboard"><img src="https://i.imgur.com/LRKdmoz.png" id="logo" />  </a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContentXL" aria-controls="navbarSupportedContentXL" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContentXL">
        <ul class="navbar-nav mr-auto">
            <li id="arrow_box" class="nav-item ">
                <a class="btn" href="/dashboard">Home </a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/report">Report</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/exchanges">Exchanges</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/graph">Graph</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/news">News</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/forum">Forum</a>
            </li>
            <li class="nav-item ">
                <a class="btn" href="/coin">About Coins</a>
            </li>
            <li class="nav-item active">
                <a class="btn" href="/about">About Us</a>
            </li>
        </ul>
        <header class="header-bar mb-2">
            <div class="container d-flex flex-column flex-md-row align-items-center p-2">
                <div class="flex-row my-2 my-md-0">
                    <strong style="color: white;text-transform: capitalize;">Hi,<a class="mr-2"
                            id="navusername">{{username}}</a></strong>
                    <form action="/logout" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">Sign Out</button>
                    </form>
                </div>
            </div>
        </header>
    </div>
</nav>

<nav class="navbar navbar-expand-sm " style="background-color: rgb(194, 183, 183); ">
    <div class="navbar-nav mx-auto">
        <a class="btn nav-item nav-link" style="color:rgb(66, 57, 57);" href="/gambling"><b>Gambling</b></a>
        <a class="btn nav-item nav-link" style="color:rgb(66, 57, 57);" href="/wallet"><b>Wallets</b></a>
        <a class="btn nav-item nav-link" style="color:rgb(66, 57, 57);" href="/mining"><b>Mining</b></a>
    </div>
</nav>
</div>



<div class="team-section">
    <h1>Our services</h1>
    <span class="border"></span>
    <div class="about">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="fab fa-btc" style="font-size: 2.5em;"></i>
                </div>
                <h2>LIVE TRACKING</h2>
                <br>
                <span class="border"></span>
                <p>Track realtime price of all the available cryptocurrency. <a href="/dashboard">Track rates here.</a>
                </p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="fas fa-chart-line" style="font-size: 2.5em;"></i>
                </div>
                <h2>7 DAY GRAPH</h2>
                <br>
                <span class="border"></span>
                <p>Step up your trading game by tracking price up or down through graph of 7 days.<a href="/graph">Click
                        here to checkout graph.</a></p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="far fa-newspaper" style="font-size: 2.5em;"></i>
                </div>
                <h2>NEWS</h2>
                <br>
                <span class="border"></span>
                <p>Get all the latest news about cryptocurrency. <a href="/news">Click here to read news.</a></p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="fab fa-foursquare" style="font-size: 2.5em;"></i>
                </div>
                <h2>FORUM</h2>
                <br>
                <span class="border"></span>
                <p>Get involved in latest discussion related to cryptocurrency.<a href="/forum">Get started here.</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="team-section">
    <h1>Meet Our Team</h1>
    <span class="border"></span>
    <div class="ps">
        <a href="#p1"><img src="https://i.ibb.co/0sZVmCP/p11.jpg" alt="">Badal Raj</a>
        <a href="#p2"><img src="https://i.ibb.co/xMBW356/p10.png" alt="">Khushboo Goyal</a>
        <a href="#p3"><img src="https://i.ibb.co/2dKdn9b/p12.jpg" alt="">Rajeev Ranjan</a>
        <a href="#p4"><img src="https://i.ibb.co/dLVFKNx/p13.png" alt="">Zibran Shaikh</a>
        <a href="#p5"><img src="https://i.ibb.co/yyJYn1v/p14.png" alt="">Ayaz</a>

    </div>

    <div class="section" id="p1">
        <span class="name">Badal Raj</span>
        <span class="border"></span>
        <p> <a target="_blank" href="https://github.com/badal-raj-vst-au4"><i class="fab fa-github"
                    style="font-size: 3em;"></i></a> 
            <a target="_blank" href="https://stackoverflow.com/users/12324595/badal-raj"><i class="fab fa-stack-overflow"
                    style="font-size: 3em;"></i></a>
        </p>
    </div>
    <div class="section" id="p2">
        <span class="name">Khushboo Goyal</span>
        <span class="border"></span>
        <p><a target="_blank" href="https://github.com/khushboo-goyal-vst-au4"><i class="fab fa-github"
                    style="font-size: 3em;"></i></a> 
            <a target="_blank" href="https://stackoverflow.com/story/khushboogoyal27"><i class="fab fa-stack-overflow"
                    style="font-size: 3em;"></i></a>
        </p>
        
    </div>
    <div class="section" id="p3">
        <span class="name">Rajeev Ranjan</span>
        <span class="border"></span>
        <p> <a target="_blank" href="https://github.com/rajeev-ranjan-vst-au4"><i class="fab fa-github"
                    style="font-size: 3em;"></i></a> 
            <a target="_blank" href="https://stackoverflow.com/users/11995525/raj"><i class="fab fa-stack-overflow"
                    style="font-size: 3em;"></i></a>
        </p>

    </div>
    <div class="section" id="p4">
        <span class="name">Zibran Shaikh</span>
        <span class="border"></span>
        <p> <a target="_blank" href="https://github.com/zibran-shaikh-vst-au4"><i class="fab fa-github"
                    style="font-size: 3em;"></i></a> 
        
            <a target="_blank" href="https://stackoverflow.com/story/zibran21"><i class="fab fa-stack-overflow"
                    style="font-size: 3em;"></i></a>
        </p>
    </div>
    <div class="section" id="p5">
        <span class="name">Ayaz </span>
        <span class="border"></span>
        <p id="github">
            <a target="_blank" href="https://github.com/ayaz-syyed-vst-au4"><i class="fab fa-github"
                    style="font-size: 3em;"></i></a>
            <a target="_blank" href="https://stackoverflow.com/story/ayazz.pro"><i class="fab fa-stack-overflow"
                    style="font-size: 3em;"></i></a>
        </p>
    </div>
</div>

<footer></footer>