<nav data-spy="scroll" class="navbar navbar-expand-xl sticky-top">
    <a class="logo" href="/dashboard"><img src="https://i.imgur.com/LRKdmoz.png" id="logo" />  </a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContentXL" aria-controls="navbarSupportedContentXL" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContentXL">
        <ul class="navbar-nav mr-auto">
            <li id="arrow_box" class="nav-item ">
                <a class="btn" href="/dashboard">Home </a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/report">Report</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/exchanges">Exchanges</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/graph">Graph</a>
            </li>

            <li class="nav-item">
                <a class="btn" href="/news">News</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/forum">Forum</a>
            </li>
            <li class="nav-item active">
                <a class="btn" href="/coin">About Coins</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/about">About Us</a>
            </li>
        </ul>
        <header class="header-bar mb-2">
            <div class="container d-flex flex-column flex-md-row align-items-center p-2">
                <div class="flex-row my-2 my-md-0">

                    <strong style="color: white;text-transform: capitalize;">Hi,<a class="mr-2"
                            id="navusername">{{username}}</a></strong>
                    <form action="/logout" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">Sign Out</button>
                    </form>
                </div>
            </div>
        </header>
    </div>
</nav>

<nav class="navbar navbar-expand-sm " style="background-color: rgb(194, 183, 183); ">
    <div class="navbar-nav mx-auto">
        <a class="btn nav-item nav-link" style="color:rgb(66, 57, 57);" href="/gambling"><b>Gambling</b></a>
        <a class="btn nav-item nav-link" style="color:rgb(66, 57, 57);" href="/wallet"><b>Wallets</b></a>
        <a class="btn nav-item nav-link" style="color:rgb(66, 57, 57);" href="/mining"><b>Mining</b></a>
    </div>
</nav>
</div>


<div class="container">
    <div id="start-section" class="starttitle">
        <span> Beside buying & selling cryptocurrency what else can you do with it..??</span>
        <div class="start">
            <div class="start-block">
                <div class="start-content ">
                    <div class="left-column">
                        <h2></br>Shop: Over 100,000 merchants accept Bitcoin including Microsoft, Overstock, and NewEgg.
                        </h2>

                    </div>
                </div>
            </div>
            <div class="start-block">
                <div class="start-content">
                    <div class="right-column">
                        <h2></br>Dine out: Worldwide, you can dine in or carry out at thousands of restaurants using
                            Bitcoin or Bitcoin Cash.</h2>

                    </div>
                </div>
            </div>
            <div class="start-block">
                <div class="start-content">
                    <div class="left-column">
                        <h2></br>
                            Donate to causes: GiveCrypto.org is a nonprofit that distributes cryptocurrency to people
                            living in poverty. The Internet Archive, The Mozilla Foundation, and The Wikimedia
                            Foundation (just to name a few) also all accept donations in Bitcoin.</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="start-block">
                <div class="start-content">
                    <div class="right-column">
                        <h2> </br>Gift it: Cryptocurrency makes a great gift for friends and family.</h2>

                    </div>
                </div>
            </div>
            <div class="start-block">
                <div class="start-content">
                    <div class="left-column">
                        <h2> </br>Tip someone: Authors, musicians, and other online content creators sometimes leave
                            Bitcoin addresses or QR codes at the end of their articles. If you like their work, you can
                            give a little crypto as a way of saying thanks.</h2>

                    </div>
                </div>
            </div>
            <div class="start-block">
                <div class="start-content">
                    <div class="right-column">
                        <h2> </br>Travel the world: Because cryptocurrency isn't tied to a specific country, traveling
                            with crypto can cut down on money exchange fees. There's already a small but thriving
                            community of self-titled "crypto nomads" who primarily, or in some cases exclusively, spend
                            crypto when they travel.</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="start-section" class="starttitle">
        <span> FREQUENTLY ASKED QUESTIONS</span>
        <div class="start">
            <div class="start-block">
                <div class="start-content">
                    <div class="left-column">
                        <h2> </br>What is cryptocurrency?</h2>
                        <p>Cryptocurrency is an internet-based medium of exchange which uses cryptographical functions
                            to conduct financial transactions. Cryptocurrencies leverage blockchain technology to gain
                            decentralization, transparency, and immutability.</p>
                    </div>
                </div>
            </div>
            <div class="start-block">
                <div class="start-content">
                    <div class="right-column">
                        <h2></br>Still not sure?</h2>
                        <p>If you take away all the noise around cryptocurrencies and reduce it to a simple definition,
                            you find it to be just limited entries in a database no one can change without fulfilling
                            specific conditions. This may seem ordinary, but, believe it or not: this is exactly how you
                            can define a currency.</p>
                    </div>
                </div>
            </div>
            <div class="start-block">
                <div class="start-content">
                    <div class="left-column">
                        <h2></br>What are the different cryptocurrency?</h2>
                        <p>Bitcoin is the oldest and most well-known cryptocurrency, but there are hundreds of others.
                            Some cryptocurrencies, like Litecoin and Bitcoin Cash, share Bitcoin's core characteristics
                            but explore new ways to process transactions. Others offer a wider range of features.
                            Ethereum, for example, can be used to run applications and create contracts.</p>
                    </div>
                </div>
            </div>
            <div class="start-block">
                <div class="start-content">
                    <div class="right-column">
                        <h2></br>Why is cryptocurrency exciting?</h2>
                        <p>Cryptocurrency has the potential to be the fastest, easiest, cheapest, safest, and most
                            universal way to exchange value that the world has ever seen. And if that's not exciting
                            enough, crypto also provides equality of opportunity, regardless of where you were born or
                            where you live. As long as you have a smartphone or another internet-connected device, you
                            have the same access to cryptocurrency as everyone else.</p>
                    </div>
                </div>
            </div>
            <div class="start-block">
                <div class="start-content">
                    <div class="left-column">
                        <h2></br>What is a blockchain?</h2>
                        <p>At its most basic, a blockchain is a list of transactions that anyone can view and verify.
                            The Bitcoin blockchain, for example, is a record of every time someone sent or received
                            bitcoin. This list of transactions is fundamental for most cryptocurrencies because it
                            enables secure payments to be made between people who don't know each other without having
                            to go through a third party verifier like a bank.</p>
                    </div>
                </div>
            </div>
            <div class="start-block">
                <div class="start-content">
                    <div class="right-column">
                        <h2></br>When is the best time to buy cryptocurrency?</h2>
                        <p>Like many financial decisions, it depends on a lot of factors: which cryptocurrency you're
                            buying, your personal financial situation, and the current state of the overall
                            cryptocurrency market — just to name a few. We recommend being skeptical of articles that
                            claim to know which cryptocurrency to buy or when to buy it. The authors may have a personal
                            interest in affecting the price of a cryptocurrency they recommend. Instead, always do your
                            own research or seek help from an accredited financial advisor to decide which
                            cryptocurrency to buy and when.</p>
                    </div>
                </div>
            </div>
            <div class="start-block">
                <div class="start-content">
                    <div class="left-column">
                        <h2></br>What Is A Full Node?</h2>
                        <p>Full nodes validate transactions within the blockchain and are voluntarily maintained by
                            individuals, groups and organizations (such as merchants for example) all around the world
                            and broadcast all the messages within the protocol. Full nodes add an additional layer of
                            security for these participants within the Bitcoin network and operate in an altruistic
                            manner meaning they work without reward. Some use cases for individuals or groups such as
                            merchants running a full node is for detecting double-spends or for increased privacy.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer></footer>